<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <agm-map
        [latitude]="latitude"
        [longitude]="longitude"
        [zoom]="zoom" >
    <agm-marker
        [latitude]="latitude"
        [longitude]="longitude"
        [iconUrl]="myIcon"
    >
      <agm-info-window>
        <p>You are here : {{address}}</p>
      </agm-info-window>
    </agm-marker>

      <agm-marker
        *ngFor="let friend of friendsLastLocation"
        [latitude]="friend.lat"
        [longitude]="friend.lng"
        [iconUrl]="friendIcon"
      >
        <agm-info-window
          [isOpen]="true">
          <p>{{friend.name}}</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>

<!--  <div #map id="map"></div>-->
  <ion-fab horizontal="start" slot="fixed">
    <div *ngIf="isCheckingIn">
      <form [formGroup]="searchForm">
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-align-items-center ion-no-padding">
            <ion-col size="8">
              <input formControlName="searchTerm" type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </ion-col>
            <ion-col size="4">
              <ion-button (click)="onCheckIn()">Check In</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button *ngIf="!isCheckingIn"expand="block" (click)="toggleCheckIn()">Check In</ion-button>
    <ion-button *ngIf="isCheckingIn" expand="block" (click)="toggleCheckIn()" color="danger">Cancel</ion-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="setCurrentLocation()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
