<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Developer Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-avatar>
        <ion-img src="/assets/azura.jpg"></ion-img>
      </ion-avatar>
    </ion-row>
    <div class="ion-text-center">
      <ion-text color="primary">
        <h2>Azura Sakan Taufik</h2>
      </ion-text>
    </div>
    <div class="ion-text-center">
      <ion-text>
        <h4>000 000 20528</h4>
      </ion-text>
    </div>
    <div class="ion-text-center ion-margin">
      <ion-text>
        <p>
          Mau bilang banyak makasih kepada duo aslab ini yang telah berkontribusi bersar terhadap perkuliahan dari semester 1-7.
          Thankyou buat ilmu-ilmunya dan dorongannya, terutama ko Jems mungkin kalau ga strict aku gaakan terbangun buat belajar itu yg namanya alpem yang ternyata jd fondasi segala-galanya per IT an ini wkwk.
          Untuk ko Yehez, mungkin baru ketemu di Sem 6, but thankyou bgt bantuin lab mingguan kalo ada pertanyaan dan terutama terimakasih sudah bantu laporan magang :").
          Terimakasih udah jadi kaka kelas yang baik banget, semoga bisa ketemu di lain kesempatan. Sukses buat kedepannya!</p>
      </ion-text>
    </div>
  </ion-grid>
</ion-content>
